# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-specific-password

# Admin email (where form submissions will be sent)
ADMIN_EMAIL=admin@geothermal.com

# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/geothermal?retryWrites=true&w=majority

# Server
PORT=3000
NODE_ENV=production